---
import gifSlowpoke from "~/assets/slowpoke.gif";

interface Props {
  description?: string;
  title: string;
}
const { description = "", title } = Astro.props;

const APP_COLOR = "#ffc5b2";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{title}</title>
    <style is:global>
      :root {
        --APP_COLOR: #ffc5b2;
        --color-app: var(--APP_COLOR);

        --text-brightness-offset: #000;
        --bg-brightness-offset: #fff;

        --bg: color-mix(
          in srgb,
          var(--color-app),
          var(--bg-brightness-offset) 10%
        );
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --text-brightness-offset: #fff;
          --bg-brightness-offset: #000;

          --bg: color-mix(
            in srgb,
            var(--color-app),
            var(--bg-brightness-offset) 80%
          );
        }
      }

      html,
      body {
        background: var(--bg);
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        color: color-mix(
          in srgb,
          var(--color-app),
          var(--text-brightness-offset) 50%
        );
        font-size: 14px;
        height: 100%;
        margin: 0;
        overflow: hidden;
      }

      a {
        color: color-mix(
          in srgb,
          var(--color-app),
          var(--text-brightness-offset) 33.3%
        );
        text-decoration: none;
        font-weight: bolder;
      }
    </style>

    <link
      as="image"
      crossorigin="anonymous"
      href={gifSlowpoke.src}
      rel="preload"
      type="image/gif"
    />

    <link href="/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/favicon.ico" rel="icon" sizes="any" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <link href="/manifest.webmanifest" rel="manifest" />
    <link color={APP_COLOR} href="/mask.svg" rel="mask-icon" />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta content="slowpoke" name="apple-mobile-web-app-title" />
    <meta content="slowpoke" name="application-name" />
    {description !== "" && <meta content={description} name="description" />}
    <meta content={Astro.generator} name="generator" />
    <meta content="slowpoke, pokemon, pokémon" name="keywords" />
    <meta content={APP_COLOR} name="msapplication-TileColor" />
    <meta content={APP_COLOR} name="theme-color" />
    <meta content="https://slowp.ke/apple-touch-icon.png" property="og:image" />
    <meta content="en_US" property="og:locale" />
    <meta content={title} property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="https://slowp.ke" property="og:url" />
  </head>

  <body>
    <slot />
  </body>
</html>
